body {
	font-family: Arial,Univers,sans-serif;
	background-color: #d3d7cf;
	}
	
h2 {
    margin: .2em 0 0 .2em;
}
td {
	padding:.3em
	}
div {
	overflow:hidden;
	}
#topdiv {
	height:200px;
}
#bunddiv{
	display: flex;
}
#resultatdiv{
	width:85%;
}
#knapdiv{
	width:15%;
}
.model{}
.klapmodel{
	max-height:4em;
	background-color: #f3f3f3;
	margin: .5em;	
	}
.klapudmodel{
	  max-height:5000px;
}
span {
	background-color: #7F7F7F;
	padding:.3em;
	cursor:help;
	}
a{
	color:pink;
	}
a:hover{
	font-weight:bold;
	}
.overkasse{
	border: thin grey solid;
	margin: 5px;
	padding:5px;
}
.knapkasse{
	display: flex;
	max-height: 150px;
	overflow-y: auto;
}	
.pilopned{
	position: absolute;
	top: .5em;
	right: 1em;
	cursor:pointer;
}
.knap{
	
	background-color:#f3f3f3;
	border:1px solid #000000;
	cursor:pointer;
	color:#000000;
	font-size:14px;
	font-weight:normal;
	padding:.2em .5em;
	margin:.1em;
	overflow: visible;
}
.nedtrykt{
	background-color:#babdb6;
	
	
}
.utryg{
	
}
.ned{
	flex-direction:column;
}
.rod{
	flex-direction:row;
	flex-wrap: wrap;
}
.knap:hover {

}
.knap:active {
	position:relative;
	top:1px;
}
.enmodel {
	position:relative;
}	
}
		

